a {
  text-decoration: none;
}

.section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.responsive-font {
  font-size: 1.25rem;
}

.item-slider {
  text-align: center;
  margin: 0 4px;
}

.item-slider img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
  margin: 8px auto;
}

.item-slider:hover img {
  transform: translateY(-3px);
}

.slick-prev:before,
.slick-next:before {
  color: #ccc;
}

.slick-next:hover:before {
  color: #7dbd44;
}

.slick-prev:hover:before {
  color: #6252CD;
}

.product-item {
  background: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  margin-top: 10px;
  width: 100%;
  height: 230px;
}

.product-image-content {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product-item:hover .product-image-content {
  transform: translateY(-5px);
}