a {
  text-decoration: none;
}

.section {
  margin-top: 20px;
  margin-bottom: 40px;
}


.item-slider {
  text-align: center;
  margin: 0 4px;
}

.item-slider img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
  margin: 8px auto;
}

.item-slider:hover img {
  transform: translateY(-3px);
}

.slick-prev:before,
.slick-next:before {
  color: #ccc;
}

.slick-next:hover:before {
  color: #7dbd44;
}

.slick-prev:hover:before {
  color: #6252CD;
}