a {
  text-decoration: none;
}

.section {
  margin-top: 20px;
  margin-bottom: 40px;
}

.responsive-font {
  font-size: 1.25rem;
}

.item-slider {
  text-align: center;
  margin: 0 4px;
}

.item-slider img {
  width: 80px;
  height: auto;
  transition: transform 0.3s ease;
  margin: 8px auto;
}

.item-slider:hover img {
  transform: translateY(-3px);
}

.slick-prev:before,
.slick-next:before {
  color: #ccc;
}

.slick-next:hover:before {
  color: #7dbd44;
}

.slick-prev:hover:before {
  color: #6252CD;
}

.product-item {
  background: #FFFFFF;
  padding: 15px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  margin-top: 10px;
  width: 100%;
  height: 230px;
}

.product-image-content {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.product-item:hover .product-image-content {
  transform: translateY(-5px);
}

.image-gallery-thumbnail {
  border: 2px solid #cccc;
  border-radius: 5px;
}

.image-gallery-thumbnail.active {
  border: 2px solid #7dbd44;
}

.image-gallery-thumbnail:hover {
  border: 2px solid #6252CD;
}

.color-item {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.color-item.active {
  border: 3px solid rgba(125, 189, 68, 0.5);
}

.color-item:hover {
  border: 3px solid #6252CD;
}

.button-grounds {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(33, 33, 33, 0.1);
}

.button-grounds span {
  padding: 0 12px;
}

.button-grounds .ant-input-number-input {
  padding: 4px;
}

.btn-add-cart {
  width: 100%;
  border-radius: 8px;
  transition: 0.5s;
  height: 80px;
}

.ant-steps-item-content {
  margin-top: 0 !important;
}

.card-userAddress:hover {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  border: 1px solid #6252CD;
  transition: 500ms;

}

.card-userAddress.active {
  border: 1px solid rgba(125, 189, 68, 0.5);
}

.review-title h4 {
  margin-block-end: 0 !important
}