@media (min-width: 577px) and (max-width: 768px) {
    .responsive-font {
        font-size: 1rem;
    }

    .product-image {
        height: 250px;
    }
}

@media (max-width: 576px) {
    .slider {
        width: 90%;
        margin: auto;
    }

    .responsive-font {
        font-size: 0.8rem;
    }

    .product-image {
        height: auto;
    }
}